.chart-panel {
    width:100%;
    height: 500px;
}

@media only screen and (max-width:1024px){
    .chart-panel {height:400px;}
}

@media only screen and (min-width:1000px){
    .chart-panel {height:500px;}
}

.input-large {
    min-width:100px;
}

ul.item-list-inline {
    list-style-type:none;
    margin:10px;
    padding:0px
}

ul.item-list-inline li {
    display: inline-block;
    margin-right: 5px
}


/** HACKING AMCHARTS*/

.amChartsDataSetSelector select {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
          transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.amChartsDataSetSelector select:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
          box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}
.amChartsDataSetSelector select::-moz-placeholder {
  color: #999;
  opacity: 1;
}
.amChartsDataSetSelector select:-ms-input-placeholder {
  color: #999;
}
.amChartsDataSetSelector select::-webkit-input-placeholder {
  color: #999;
}

.amChartsCompareList {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    min-height: 30px;
    padding-left: 4px !important;
    padding-right: 0px !important;
}

.amChartsCompareList div {
    padding: 0px !important;
}

.amChartsInputField {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.breadcrumb {
    margin-bottom: 10px !important;
    background-color: #FFFFFF !important;
}

/*.chart-panel > div:nth-child(1) div:nth-child(1) {
    width: 100px !important;
}*/